
:root {
    --sidebar-letter-color: white;
    --header-bg-color: #DBEAFE;
    --sidebar-bg-color: #3B82F6;
    --article-bg-color: #E0F2FE;
    --project-bg-color: #FFF1F2;
    --announcement-bg-color: #E9D5FF;
    --footer-bg-color: #F0F9FF;

  }

/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
    margin: 0;
    padding: 0;
}

/* Set core body defaults */
body {
    min-height: 100vh;
    text-rendering: optimizeSpeed;
    line-height: 1.5;
    padding: 1rem;
  }

  /* Make images easier to work with */
  img,
  picture {
    max-width: 100%;
    display: block;
  }
  

.container {
    min-height: 100vh;
    display: grid;
    gap: 1rem;
    grid-auto-columns: 1fr;
    grid-template-areas:
    'sidebar'
    'header'
    'article'
    'footer';

    /* padding-block: 2rem; */
    /* width: min(95%, 70rem); */
    margin-inline: auto;
}

.container > div {
    padding: 1rem;
}

.header {
    background-color: var(--header-bg-color);
    grid-area: header;
}

/* Sidebar start */
.sidebar {
    background-color: var(--sidebar-bg-color);
    grid-area: sidebar;
    display: grid;
    grid-template-rows: 1fr 8fr;
}

.sidebar .dashboard {
    display: flex;
}
.sidebar .dashboard h1 {
    margin-left: 1rem;
    color: var(--sidebar-letter-color);
}

.sidebar .nav {
    padding: 1rem;
}

.sidebar .nav ul li {
    color: white;
    font-size: 1.5em;
    list-style: none;
    padding: 0.5rem;
}

.sidebar .nav ul li a {
    display: flex;
    align-items: center;
    gap: 0.5em;
}

a:link, a:visited {
    text-decoration: none;
    color: white;
}


/* Sidebar end */

.article {
    background-color: var(--article-bg-color);
    grid-area: article;
}

.article > div {
    padding: 1rem;
}
.projects {
    background-color: var(--project-bg-color);
}

.announcements {
    background-color: var(--announcement-bg-color);
}

.footer {
    background-color: var(--footer-bg-color);
    margin-top: 1rem;
}

/* Media Queries*/
@media screen and (min-width: 33em) {
    .container {
        grid-template-areas:
        "sidebar header"
        "sidebar article";
    }
}

@media screen and (min-width: 38em) {
    .container {
        grid-template-areas:
        "sidebar header"
        "sidebar article";
    }
}

@media screen and (min-width: 54em) {
    .container {
        grid-template-areas:
        "sidebar header header"
        "sidebar article article";
    }
}

@media screen and (min-width: 75em) {
    .container {
        grid-template-areas:
        "sidebar header header header"
        "sidebar article article article"
        "sidebar article article article"
        "sidebar article article article";
    }
} 