
:root {
    --sidebar-letter-color: white;
    --header-bg-color: #DBEAFE;
    --search-bg-color:#eae5e1;
    --sidebar-bg-color: #3B82F6;
    --article-bg-color: #E0F2FE;
    --project-bg-color: #FFF1F2;
    --right-side-bg-color: #E9D5FF;
    --footer-bg-color: #F0F9FF;
    --picture-bg-color: #FFFFFF;
    --card-side-color: #FFCC00;

}

/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
    margin: 0;
    padding: 0;
}

/* Set core body defaults */
body {
    min-height: 100vh;
    text-rendering: optimizeSpeed;
    line-height: 1rem;
    padding: 1rem;
}

  /* Make images easier to work with */
img,
picture {
    max-width: 100%;
    display: block;
}


.container {
    min-height: 100vh;
    display: grid;
    /* gap: 1rem; */
    grid-template-rows: auto 1fr;
    grid-auto-columns: 1fr;
    grid-template-areas:
    'sidebar'
    'header'
    'article'
    'footer';

    /* padding-block: 2rem; */
    /* width: min(95%, 70rem); */
    margin-inline: auto;
}

.container > div {
    padding: 1rem;
}
/* Header Start */
.header {
    background-color: var(--picture-bg-color);
    grid-area: header;
}

/* topnav start */
.topnav{
    overflow: hidden;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-bottom: 1rem;
}

.topnav a {
align-self: center;
}

.topnav .user {
    display: flex;
    padding: 0.5rem;
    margin-left: 3rem;
    align-items: center;
    gap: 1rem;

}

.topnav .userImage {
    height: 50px;
    width: 50px;
    border-radius: 50%;
    /* border: 2px solid blue; */
    background-color: var(--picture-bg-color);
}

/* flex the input to available space */
.topnav .search {
    flex: 1;
}

  /* Style the search box inside the navigation bar */
.topnav input[type=text] {
    float: left;
    border: none;
    background-color: var(--search-bg-color);
    margin: 0.5em;
    font-size: 1em;
    border-radius: 2rem;
  }

/* topnav end */

/* secondNav start */
.secondNav {
    display: flex;
    overflow: hidden;
    justify-content: space-between;
    flex-wrap: wrap;
    
}

.secondNav .user {
    display: flex;
    gap: 1rem;
    align-items: center;
    margin-bottom: 1rem;
}
.secondNav .userImage {
    height: 50px;
    width: 50px;
    border-radius: 50%;
    background-color: var(--picture-bg-color);
}

.secondNav .userBtn {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
}
/* button color from uiverse.io */
.newBtn,
.uploadBtn,
.shareBtn {
    display: inline-block;
    border-radius: 1em;
    border: none;
    background: #1875FF;
    color: white;
    font-family: inherit;
    text-align: center;
    font-size: 1rem;
    width: 10em;
    height: 3em;
    padding: 1em;
    transition: all 0.4s;
    cursor: pointer;
}

.newBtn:hover,
.uploadBtn:hover,
.shareBtn:hover {
    background-color: #23c483;
    box-shadow: 0px 15px 20px rgba(46, 229, 157, 0.4);
    color: #fff;
    transform: translateY(-7px);
}

/* secondNav end */

/* Header End */

/* Sidebar start */
.sidebar {
    background-color: var(--sidebar-bg-color);
    grid-area: sidebar;
    display: grid;
    grid-template-rows: 1fr 8fr;
}

.sidebar .dashboard {
    display: flex;
}
.sidebar .dashboard h1 {
    margin-left: 1rem;
    color: var(--sidebar-letter-color);
}

.sidebar .nav {
    padding: 1rem;
}

.sidebar .nav ul li {
    color: white;
    font-size: 1.5em;
    list-style: none;
    padding: 0.5rem;
}

.sidebar .nav ul li a {
    display: flex;
    align-items: center;
    gap: 0.5em;
}

a:link, a:visited {
    text-decoration: none;
    color: white;
}

/* Sidebar end */

/* article start */
.article {
    background-color: var(--article-bg-color);
    grid-area: article;
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 1rem;
    /* grid-template-rows: auto 1fr; */
}

.titles {
    background-color: #23c483;
    grid-area: 1 / 1 / 2/ 3;
    display: grid;
    grid-template-columns: 2fr 1fr;
}

.titles .heading2 {
    margin-left: 2rem;
}
/* project start */
.cards {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 15px;
}


/* card start */
.projects .card {
    background-color: var(--picture-bg-color);
    border-radius: 10px;
    display: grid;
    grid-template-columns: 5px 1fr;
    grid-template-rows: 1fr auto;
    height: 200px;
}

.projects .card .color {
    background-color: var(--card-side-color);
    border-radius: 50px 0 0 50px;
    grid-area: 1 / 1 / 3/ 2;
}

.projects .card .content {
    margin: 1rem 0 0 1rem;
}

.projects .card .icons ul {
    padding: 1rem;
    height: 1rem;
    display: flex;
    justify-content: end;
    align-items: center;
    gap: 2rem;
}

.projects .card .icons ul {
    list-style: none;
}

/* card end */

/* project end */

.right-side {
    background-color: var(--right-side-bg-color);
}

/* article end */

.footer {
    background-color: var(--footer-bg-color);
    grid-area: footer;
}

/* Media Queries*/
@media screen and (min-width: 33em) {
    .container {
        grid-template-areas:
        "sidebar header"
        "sidebar article"
        "footer footer";
    }
}

@media screen and (min-width: 38em) {
    .container {
        grid-template-areas:
        "sidebar header"
        "sidebar article"
        "footer footer";
    }
}

@media screen and (min-width: 54em) {
    .container {
        grid-template-areas:
        "sidebar header header"
        "sidebar article article"
        "footer footer footer";
    }
}

@media screen and (min-width: 75em) {
    .container {
        grid-template-areas:
        "sidebar header header header"
        "sidebar article article article"
        "footer footer footer footer";
    }

    /* .header {
        grid-template-areas:
        "search search user"
        "userDetails userDetails userBtn";
    } */
} 